# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
# Other files and folders
.settings/
# Executables
*.swf
*.air
*.ipa
*.apk
pilot*
photos*
*sequencing*
*.fasta
*desttips_scf*
*desttips_ab1*
*sheet_photos*
*unite_db*
*.DS_Store*
*figures*
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user
*scan*
*DS_Store*
*.RData*
*.fast*
*.JPG